@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

$color1: black;
$color2: white;

body {
    overscroll-behavior: contain;
    font-size: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

@mixin default-site {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 32px;
}

@mixin default-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.welcome-page {
    @include default-site;
    @include default-flex-column;
    background-color: $color1;
    color: $color2;
    justify-content: center;
    &__header {
        font-size: 1.9rem;
    }
}

.about-page {
    @include default-site;
    @include default-flex-column;
    background-color: $color2;
    padding: 40px 32px 20px 32px;
    &__image {
        height: 33%;
        margin-bottom: 20px;
        box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.41);
        border-radius: 5px;
    }
    &__text {
        text-align: justify;
        font-size: 2.2vh;
    }
}

.skills-page {
    @include default-site;
    @include default-flex-column;
    background-color: $color1;
    color: $color2;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    &__level {
        width: 100%;
        margin-bottom: 12px;
        font-size: .9rem;
        text-align: center;
    }
    &__icon {
        width: 30px;
    }
}

.skill {
    position: relative;
    &__text {
        width: 100%;
        font-size: 1rem;
    }
    &__popup {
        position: absolute;
        box-sizing: border-box;
        padding: 5px;
        background-color: $color2;
        color: $color1;
        border-radius: 5px;
        width: 60vw;
        z-index: 100;
        visibility: hidden;
        &-active {
            visibility: visible;
            animation-name: popup;
            animation-duration: .2s;
            animation-fill-mode: both;
        }
    }
    &__arrow {
        position: absolute;
        top: -9px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $color2;
    }
    &__cross {
        font-size: 1.1rem;
        margin-right: 10px;
        text-align: right;
        font-weight: bold;
    }
}

.navbar {
    position: absolute;
    @include default-flex-column;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    &__dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-bottom: 6px;
    }
}

@mixin form-style {
    border: 2px solid $color1;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 4px;
}

.contact-page {
    @include default-site;
    @include default-flex-column;
    background-color: $color2;
    &__form {
        margin-top: 40px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 650px;
        &-header {
            font-size: 1rem;
            width: 100%;
            text-align: left;
            margin-bottom: 2px
        }
    }
    &__input,
    &__textarea {
        @include form-style;
        width: 100%;
        margin-bottom: 10px;
    }
    &__textarea {
        resize: none;
    }
    &__submit {
        @include form-style;
        background-color: transparent;
        padding: 5px;
    }
    &__social {
        font-size: 2rem;
    }
    &__social-icon {
        margin: 3px;
        color: $color1;
    }
}

.skills-page__header,
.about-page__header,
.contact-page__header {
    font-size: 1.7rem;
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
}

@keyframes popup {
    0% {max-width: 0px; max-height: 0px;}
    50% {max-width: 60vw; max-height: 100px;}
    100% {max-width: 60vw; max-height: 200px;}
}

.fa-3x {
    transition: 0.2s;
    font-size: 2.7rem;
}

.scrollerD-enter {
  transform: translateY(100%);
  opacity: 0;
}

.scrollerU-enter {
    transform: translateY(-100%);
    opacity: 0;
}

.scrollerD-enter-to,
.scrollerU-enter-to {
    transform: translateY(0%);
    opacity: 1;
}

.scrollerD-enter-active,
.scrollerU-enter-active {
    will-change: opacity, transform;
    transition: opacity .4s, transform 0.5s;
}