@media only screen and (min-width: 768px) and (min-height: 767px) {
    .about-page__image {
        margin: 70px;
    }
    .skills-page {
        &__wrapper {
            width: 80%;
        }
        &__level {
            font-size: 1.5rem;
        }
    }
    .skill {
        display: grid;
        grid-template-columns: 60px auto;
        margin-bottom: 10px;
        &__popup {
            grid-column: 2 / 3;
            margin-left: 30px;
            padding: 10px;
            position: relative;
            visibility: visible;
            animation: unset;
        }
        &__arrow {
            display: none;
        }
        &__text {
            font-size: 1rem;
        }
        &__cross {
            display: none;
        }
    }
    .fa-3x {
        align-self: center;
    }
    .contact-page__input,
    .contact-page__textarea,
    .contact-page__submit {
        font-size: 1.3rem;
    }
    .contact-page__social-icon {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width : 1025px) {
    .about-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
    &__image {
        margin-right: 40px;
    }
    }
    .skill__popup {
        width: 47vw;
    }
    .skill__text {
        font-size: 1.1rem;
    }
}
