@media only screen and (min-width: 768px) and (min-height: 780px) {
    .about-page__image {
        margin: 70px;
    }
    .skills-page {
        &__wrapper {
            width: 80%;
        }
        &__level {
            font-size: 1.5rem;
        }
    }
    .skill {
        display: grid;
        grid-template-columns: 60px auto;
        margin-bottom: 10px;
        &__popup {
            grid-column: 2 / 3;
            margin-left: 30px;
            position: relative;
            visibility: visible;
            animation: unset;
        }
        &__arrow {
            display: none;
        }
    }
    .fa-3x {
        align-self: center;
    }
    .fa-2x {
        display: none;
    }
}

@media only screen and (min-width : 1025px) {
    .about-page {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100px auto;
    padding-right: 100px;
    &__header {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
    }
    &__image {
        grid-column-start: 1;
        justify-self: center;
        width: 80%;
        margin-bottom: 15px;
        box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.41);
        margin: 0;
    }
    &__text {
        grid-column-start: 2;
    }
    }
}
