@media only screen and (min-width: 768px) {
    .about-page__image {
        margin: 70px;
    }
    .skills-page__wrapper {
        width: 70%;
    }
}

@media only screen and (min-width : 1025px) {
    .about-page {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100px auto;
    padding-right: 100px;
    &__header {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
    }
    &__image {
        grid-column-start: 1;
        justify-self: center;
        width: 80%;
        margin-bottom: 15px;
        box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.41);
        border-radius: 5px;
        margin: 0;
    }
    &__text {
        grid-column-start: 2;
    }
    }
    .skills-page__wrapper {
        width: 30%;
    }
}
